/* Used as the background on all pages. */
body{

    background: url(../images/darkrocks.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Used on every page as the main article underline */
.border-bottom{

    color: azure;
}

/* Nav bar hover effect start */
#hhp0:hover{

    color: hotpink !important;   
}

#hhp1:hover{
    color: hotpink !important;
}

#hhp2:hover{
    color: hotpink !important;
}

#hhp0{
    color: white;
    font-size: 1.5rem;
}

#hhp1{
    color: white;
    font-size: 1.5rem;
}

#hhp2{
    color: white;
    font-size: 1.5rem;
}
/* Nav bar hover effect end */

/* Sticky footer */
#sf{

    width: 100%;
    bottom: 0px;
    position: fixed;

}

/* Facebook hover effect */
#fb1:hover{
    background-color: hotpink !important;
}







